# Dependencies
node_modules/
.venv/
venv/
__pycache__/

# System
.DS_Store
Thumbs.db

# Build
dist/
build/
*.log
*.pyc

# Vercel
.vercel/

# Project specific
BackEnd_Deploy/
BackEnd_Deploy_Temp/
*.ipynb_checkpoints/
